<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{site.baseurl}}/pages/index.html"><img style="width:140px; margin:-5px; padding:0px;" class="img-responsive" src="{{site.baseurl}}/img/storage4grid_logo_justtext_reversed.png"></a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="{{site.baseurl}}/pages/index.html">Home</a>
				</li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Smart Recorder <b class="caret"></b></a>
					<ul class="dropdown-menu">
						
						<li>
							<a href="{{site.baseurl}}/pages/concept.html">Concept</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/tobjectives.html">Technical Aspects</a>
						</li>
					</ul>
				</li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<b class="caret"></b></a>
					<ul class="dropdown-menu">
						
						<li>
							<a href="{{site.baseurl}}/pages/partners.html">Our Team</a>
						</li>
						<li>
							<a href="{{site.baseurl}}/pages/esg.html">External Stakeholder Group</a>
						</li>
					</ul>
				</li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Release<b class="caret"></b></a>
					<ul class="dropdown-menu">
						
						<li>
							<a href="{{site.baseurl}}/pages/deliverables.html">Road Map</a>
						</li>
						<!--
						<li>
							<a href="{{site.baseurl}}/pages/publications.html">Publications</a>
						</li>
						-->
					</ul>
				</li>
<!--
				<li>
					<a href="{{site.baseurl}}/pages/news.html">News</a>
				</li>
-->
				<li>
					<a href="{{site.baseurl}}/pages/contacts.html">Contacts</a>
				</li>

			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>
